html, body {
  overflow-x: hidden;
  width: 100%;
}


* {box-sizing: border-box;}


main {
    padding-top: 30px;
}


body { 
  margin: 0;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1C0C27;
  padding: 20px 10px;
  color: #ffffff;
}

.wrap-logo {
  display: flex;
  align-items: center;
}

.logo {
    width: 120px;
    height: auto;
}

header a {
    color: #ffffff;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
    transition: 0.9s;
}

header a.logo {
  font-size: 25px;
  font-weight: bold;
}

header a:hover {
  background-color: #ededed;
  color: #212121;
}

nav {
  display: flex;
  align-items: center;
  }

  /* Popup Window */
.popup {
    position: fixed;
    top: 90px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    z-index: 1000;
}

.hidden {
    display: none;
}

/*main*/

.main-site {
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url("img/image.png");
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0 0 0 0;
    font-size: 25px;
}





/* Basic container styling */
.swiper-container {
    padding-top: 30px;
    width: 50%;
    margin: auto;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    transition: transform 0.3s, opacity 0.3s;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .swiper-slide-active {
    img {
        height: 300px !important;
    }
    transform: scale(1.9);
    opacity: 1;
  }


  .footer {
    padding: 40px 0;
    background-color: #0d1117;
    color: white;
    margin-top: 50px;
}

.footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer li {
    display: inline-block; /* Change to inline-block for horizontal layout */
    padding: 0 10px;
}

.footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul a:hover {
    opacity: 1;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer .social > a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}
.footer .footer-break{
  height:2px;
  border-width:0;
  color:gray;
  background-color:white
    }
